html {
   background-color: #fbf7ea;
   margin: 10px;
   border: 2px;
   border-style: dotted;
   border-color: #788D89;
}

body {
   font-family: 'Muli', sans-serif;
   line-height: 125%;
   margin: 20px;
}

h1 {
   font-family: 'Parisienne', cursive;
   text-align: center;
   margin: 40px;
   font-size: 120px;
   color: #B24D72;
}

h2 {
   margin: 20px;
   font-size: 32px;
}

dl {
   margin-left: 40px;
   background-color: #EDE1D1;
}

dt {
   color: #19192d;
   background-color: #EDE1D1;
}

dd {
   margin-left: 45px;
   color: #19192d;
   background-color: #EDE1D1;
}

p {
   border-spacing: 10px;
   background-color: ;
   margin: 20px;
}

ol {
   margin-left: 40px;
   list-style-type: decimal;
   background-color: #EDE1D1;
   background-color:
}

footer {
   text-align: bottom;
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 25px;
   font-size: 12px;
   background-color: #EDE1D1;
}
strong {
   font-style: oblique;
}

#list2 {
   background-color: #EDE1D1;
   width: 250px;
}

#list1 {
   background-color: #EDE1D1;
   width: 300px;
}
